* {
    margin: 0;
    padding: 0;
}

body {
    width: 80vw;
    margin: 20px auto;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    body {
        flex-direction: column-reverse;
    }
}

table {
    margin: 0 auto;
}
td:first-of-type {
    text-align: right;
}
td {
    padding: 3px 6px;
}

.profilePic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* All sliders */
.range {
    width: 50px;
}

/** Only the speed control sliders */
td > .range:first-child {
    width: 100px;
}

#controlsDiv {
    margin: 0 40px;
}

#textFields {
    margin-top: 40px;
}

#profiles {
    width: 330px;
    margin: 40px auto 0 auto;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messageRowDiv {
    width: 600px;
}

select {
    margin: 5px 20px 0 0;
}

.nameInput {
    width: 100px;
}

.messageInput {
    width: 400px;
}

#saveButtons {
    display: flex;
    justify-content: space-around;
}

#sizeControls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.sizeInput {
    width: 40px;
}

.horizontalCenter {
    display: flex;
    justify-content: center;
}

#newProfile {
    margin-top: -20px;
}

/* Buttons */
button.newThing {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newThing img {
    width: 30%;
    height: 30%;
}

.deleteButton {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
}

.deleteButton, .newThing {
    color: white;
    margin: 3px 9px;
    border: none;
    background-color: #555;
    text-align: center;
}

button::hover {
    background-color: #777;
}

/** Hide the first delete button which is disabled */
.firstButton {
    visibility: hidden;
}

input.picker {
    width: 24px;
    height: 24px;
}

canvas {
    border: 1px solid #ddd;
}

.saveButton {
    padding: 4px 8px;
}
